
.history/

# Virtual environment
.venv/

# data extractor outputs
data/
output/

# exclude raw data
*.pdf
*.zip
*.png
*.jpg
*.jpeg

# exclude all the __pycache__ directories
**/__pycache__/
.DS_Store
*.egg-info/

# exclude .env files
.env*
